<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>One Gear One Dream</title>
	 <!--[if lt IE 9]>
 	 	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 	 <![endif]-->
	<link rel="stylesheet" type="text/css" href="">
</head>


<body>
	<header>
		<h1>Hello Ben</h1>
	</header>
	
	<main>
		<p>Quote will go here</p>
	</main>
<!--	
	<footer>
		<ul>
			<li><a href="">Follow</a></li>
			<li><a href="">Subscribe</a></li>
			<li><a href="">Share</a></li>
		</ul>
	</footer>
-->
	
	<%= link_to 'Quotes', controller: 'quotes' %>
</body>
</html>