
	<main class="container-fluid jumbotron text-left fill">
		<h1>
			<strong><%= @quote.context %></strong>
		</h1>
		<br />
		<h2>
			<strong>-<%= @quote.author %></strong>
		</h2>
	</main>
<!--	
	<footer>
		<ul>
			<li><a href="">Follow</a></li>
			<li><a href="">Subscribe</a></li>
			<li><a href="">Share</a></li>
		</ul>
	</footer>
-->
		<%= link_to 'Add Quotes', controller: 'quotes' %>
<!--		<%= link_to 'Users', controller: 'users' %>
-->
