<!DOCTYPE HTML>

<html>

<head>
	<title>One Gear One Dream</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= stylesheet_link_tag "application" %>>
</head>
<body>
	<main class="container-fluid jumbotron text-left">
		<h1>
			<strong><%= @quote.context %></strong>
		</h1>
		<h2>
			<strong>-<%= @quote.author %></strong>
		</h2>
	</main>
<!--	
	<footer>
		<ul>
			<li><a href="">Follow</a></li>
			<li><a href="">Subscribe</a></li>
			<li><a href="">Share</a></li>
		</ul>
	</footer>
-->
	
	<%= link_to 'Add Quotes', controller: 'quotes' %>
</body>
</html>
