<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Welcome to onegearonedream.com, <%= @user.email %></h1>
		<p>
		You have successfully signed up to onegearonedream.com, your username is: <%= @user.email %>.<br>
		</p>
		<p>
		You will now receive motivational emails daily.
		</p>
		<p>
		Thanks for subscribing!
		</p>
	</body>
</html>

