/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap";

html, body {
	height: 100%;
}

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 2.4;
    
}

.jumbotron {
	/* background-color: #0000cc;  Dark Blue */
	color: #99ccff; /* White */
	background-image: url('/assets/IMG_1409.jpg');
	padding-right: 360px;
	padding-top: 144px;	
}
.fill { 
    min-height: 100%;
    height: 100%;
}
h1 {
	font: 84px "Montserrat", sans-serif;
}
h2 {
	font: 48px "Montserrat", sans-serif;
}
